.wraper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;

}

.pagination-list{
    display: flex;
    justify-content: center;
    text-align: center;
}

.more{
    display: flex;
    justify-content: center;
}