.wraper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;

}

.pagination-list{
    display: flex;
    justify-content: center;
    text-align: center;

    &:first-child, &:last-child{
        width: 200px;
    }
}

.more{
    display: flex;
    justify-content: center;
}