@import '../../../utils/responsive';

.wraper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;

    @include extra-small{
        padding: 5px;
    }

}

.pagination-list{
    display: flex;
    justify-content: center;
    text-align: center;

    @include large {
        flex-wrap: wrap;
    }

}

.more{
    display: flex;
    justify-content: center;
}

.coments-list{
    padding: 0;
}