@import '../../../config/config';

.container{
    display:block;
    margin-bottom: 45px;
    color: $comment-color-text;
    list-style-type: none;
    margin-left: 0;
    background-color: $comment-bg-color;
    padding: 20px 40px 10px 40px;
    border-radius: 20px;

}

.name{
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 35px;
}

.date{
    font-size: 12px;
    text-align: right;
    display: block;
    opacity: .5;
}

.comment{
    word-break:break-all;
    text-indent: 40px;
    
}